<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>

  <ul id = "listcupcakes"></ul>

  <form id = "newCupcakeForm" class="well">
    <label for="flavor">Flavor</label>
    <input type="text" id="flavor" name = "flavor" class="span3" placeholder="">

    <label class="size" for="size">Size</label>
      <input type="text" id="size" name = "size" class="span3" placeholder="">

    <label for="rating">Rating</label>
    <select class="form-control" id="rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>

    <label class="image" for="image">Image</label>
      <input type="text" id="image" name = "image" class="span3" placeholder="">

    <button type="submit" class="btn">Submit</button>
  </form>

</body>
</html>